<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registor</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Product</li>
            <li>Login</li>
            <li>Registor</li>
        </ul>
    </nav>
    <form action="http://localhost:8080/" method="post">
        <label for="username">Name</label>
        <input type="text" name="name" placeholder="Enter your username"><br><br>
        <label for="pass">Password</label>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="Enter your email"><br><br>
        <label for="no">Phone no.</label>
        <input type="number" name="no" placeholder="Enter your phone no"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>